body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(237, 237, 235);
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-image: url(https://image.cdn2.seaart.ai/static/d0a058495e0468282a6238a7caf5c94e/1711828307924/b64b0dd4615c588d2d6dd3e209073371_high.webp);
  text-align: center;
  background-size: cover;
  color: white;
}

#container {
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(161, 89, 248, 1) 100%
  );
  padding: 20px;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
}

h1 {
  text-align: center;
  color: white;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 92%;
  outline: none;
}

#nombre, #password {
  position: relative;
}

#bxs-user {
  position: absolute;
  top: 210px;
  right: 529px;
  color: black;
  font-size: 20px;
}

#bxs-lock-alt{
  position: absolute;
  top: 265px;
  right: 529px;
  color: black;
  font-size: 20px;
}

input[type="submit"] {
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease;
}


input[type="submit"]:hover {
  background-color: rgb(100, 31, 128);
  color: white;
}

#container-checkbox {
  display: flex;
  font-size: 13px;
  white-space: nowrap;
  gap: 6px;
}

input[type="checkbox"],
#Remember,
#forgot {
  margin-top: 20px;
}

#forgot {
  margin-left: 20px;
}

p .register {
  text-align: center;
  margin: auto;
  color: white;
}

#register {
  margin-left: 10px;
  font-size: 13px;
}
